.container {
text-align: center;
font-family: 'Kosugi Maru', sans-serif;
color: dimgray;
}

.snslink {
width: 220px;
margin: auto;
font-family: 'Kosugi Maru', sans-serif;
color: royalblue;
}

hr {
border-style: none;
background-color: gray;
height: 2px;
width: 90%;
}

.main {
font-size: 20px
}

.mainicon {
width: 128px;
height: 128px;
vertical-align: middle;
margin-right: 10px;
}

.icon {
width: 32px;
height: 32px;
vertical-align: middle;
margin-right: 1px;
}
