@font-face {
  font-family: "SmartFontUI";
  src: url("03SmartFontUI.ttf");
}

.container {
max-width: 600px;
margin: 0 auto;
padding: 1.8em;
text-align: center;
font-family: 'SmartFontUI', sans-serif;
color: black;
font-size: 15px;
}

.emphasis {
color: steelblue;
font-weight: bolder;
}

.link:hover {
background-color: silver;
}

.main {
font-size: 18px
}

.snslink {
width: 180px;
margin: auto;
font-family: 'SmartFontUI', sans-serif;
color: royalblue;
font-size: 20px;
}

.sns:hover {
background-color: silver;
}

hr {
border-style: none;
background-color: gainsboro;
height: 2px;
width: 100%;
}

.mainicon {
width: 128px;
height: 128px;
vertical-align: middle;
margin-right: 10px;
}

.icon {
border-radius: 50%;
width: 32px;
height: 32px;
vertical-align: middle;
margin-right: 1px;
}
